li{
  padding-bottom: 1rem;
}
.card-price{
  font-size: 3rem;
  margin: 0;
  padding: 20px 0;
}

.col-lg-4{
  border-radius: 15px;
}

.btn{
  border-radius: 50px;
  opacity: 0.6;
}
.pri .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  padding: 20px 10px;
}

.pri hr {
  margin: 1.5rem 0;
}

.pri .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

.pri .card-price {
  font-size: 3rem;
  margin: 0;
}
@media (min-width: 992px) {
  .pri .card:hover {
    margin-top: -0.25rem;
    margin-bottom: 0.25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }

  .pri .card:hover .btn {
    opacity: 1;
  }
} 
